# https://docs.discloudbot.com/discloud.config
ID=guardiao
TYPE=site
MAIN=manage.py
NAME=GUARDIÃO
AVATAR=
RAM=1024
AUTORESTART=false
VERSION=latest
APT=postgresql-client libpq-dev gcc python3-dev build-essential
BUILD=pip install -r requirements.txt
START=echo "Teste START funcionando" && python --version && python -c "print('Python executando com sucesso!')" && ls -la