# https://docs.discloudbot.com/discloud.config
ID=guardiao
TYPE=site
MAIN=manage.py
NAME=GUARDIÃO
AVATAR=
RAM=1024
AUTORESTART=true
VERSION=latest
APT=postgresql-client postgresql-server-dev-all libpq-dev gcc python3-dev build-essential
BUILD=pip install -r requirements.txt
START=sleep 10 && python manage.py migrate && python manage.py runserver 0.0.0.0:8080