# https://docs.discloudbot.com/discloud.config
ID=guardiao
TYPE=site
MAIN=manage.py
NAME=GUARDIÃO
AVATAR=
RAM=1024
AUTORESTART=true
VERSION=latest
APT=postgresql postgresql-contrib postgresql-client libpq-dev gcc python3-dev build-essential
BUILD=pip install -r requirements.txt
START=sleep 10 && service postgresql start && sleep 5 && sudo -u postgres createdb guardiaodatabase && sudo -u postgres createuser guardiao && sudo -u postgres psql -c "ALTER USER guardiao PASSWORD 'PasswordGuardiaoAdmin2025!';" && sudo -u postgres psql -c "GRANT ALL PRIVILEGES ON DATABASE guardiaodatabase TO guardiao;" && python manage.py migrate && python manage.py runserver 0.0.0.0:8080